@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gasoek+One&family=Jua&display=swap');

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.Main {
  overflow: hidden;
}

.background_img1 {
  width: 100%;
  object-fit: cover;
  height: 207px;
}

.logo {
  margin-top: 27px;
  margin-bottom: 10px;
}

.main_button button{
  width: 300px;
  height: 44px;
  line-height: 44px;
  margin-top: 16px;
  border-radius: 16px;
  border: none;
  background-color: #BEEDCD;
  color: #7EDC9C;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}
.main_button button:hover {
  background-color: #7EDC9C;
  color: aliceblue;
}

.background_img2 {
  margin-top: 40px;
  width: 100%;
  object-fit: cover;
  height: 207px;
} */